# Jupyter Notebook の使い方（MySQL編）

`ipython-sql` モジュールを使って操作する。  
`%sql` あるいは `%%sql` を行頭に置くことで、SQLが実行できるようになる。  
改行を含めた複数行のSQLの実行は、%%sql、1行ずつの実行は `%sql`

## SQLを使うためのモジュールのロード

In [10]:
%config SqlMagic.autopandas = False
%config SqlMagic.feedback = False
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## DBに接続

In [9]:
%sql mysql://scott:tiger@testsrv:3306/sampledb?charset=utf8mb4

'Connected: scott@sampledb_1'

## テーブル一覧

In [8]:
%sql show tables

[('m_company',), ('m_department',), ('m_user',), ('m_user_dept',)]

## 会社一覧のSQL

In [7]:
%%sql 
SELECT
  c.id,
  c.company_cd,
  c.company_name,
  c.version_no
FROM
  m_company c
WHERE
  c.id = 1
ORDER BY
  c.company_name

[(1, '10000', 'テスト会社', 1)]